.popular {
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  padding: 3rem 2.5rem;

  @media (max-width: 46.875em) {
    padding: 2.5rem 1rem;
  }

  &-wrapper {
    width: 100%;
    max-width: 160rem;
    margin: 0 auto;

    padding: 0 0.5rem;
  }

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 3rem;

    @media (max-width: 62.5em) {
      margin-bottom: 1rem;
    }

    @media (max-width: 31.25em) {
      flex-direction: column;
    }

    &__title {
      font-size: 3rem;
      line-height: 4.6rem;
      color: $color_text_popular_black;
      font-weight: 700;
    }

    &__content {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      body.desktop &:hover .popular-header__text {
        color: $color_golden;
      }
    }

    &__text {
      font-size: 1.8rem;
      line-height: 4.6rem;
      font-weight: 600;
      color: $color_text_popular_dark_grey;
      margin-right: 1.5rem;

      transition: all 0.2s ease-in;
    }

    &__icon {
      width: 1.6rem;
      height: 1rem;
      flex: 0 0 auto;
      fill: $color_golden;

      transform: rotate(-90deg);
      cursor: pointer;
    }
  }

  &__bullet-list {
    position: static;
    margin-top: 3rem;

    & > span {
      background-color: #898989;
      width: 1.4rem;
      height: 1.4rem;

      &.swiper-pagination-bullet-active {
        background-color: $color_golden;
      }
    }
  }

  &-products {
    width: 100%;
    max-width: 162rem;
    margin: 0 auto;
    padding: 1.5rem 1.5rem 0;
  }

  &-product {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    width: 100%;
    max-width: 36.5rem;

    @media (max-width: 93.75em) {
      max-width: 33rem;
    }

    @media (max-width: 62.5em) {
      max-width: 30rem;
    }

    @media (max-width: 31.25em) {
      max-width: 28rem;
    }

    &__image-wrapper {
      margin: 2rem 0;
      padding: 0 3rem;
    }

    &__image {
      max-width: 27rem;
      width: 100%;
      height: auto;
      margin: 0 auto;

      display: block;
      border: none;

      @media (max-width: 93.75em) {
        max-width: 21rem;
      }

      @media (max-width: 62.5em) {
        max-width: 18rem;
      }

      @media (max-width: 31.25em) {
        max-width: 16rem;
      }
    }

    &__content-wrapper {
      padding: 1rem 2rem 3rem;

      @media (max-width: 93.75em) {
        padding: 1rem 2rem 2rem;
      }
    }

    &__title {
      font-size: 2rem;
      line-height: 3.4rem;
      font-weight: 600;
      color: $color_text_popular_black;

      margin-bottom: 0.5rem;
    }

    &__size-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 1.2rem;

      @media (max-width: 93.75em) {
        margin-bottom: 0.5rem;
      }
    }

    &__size,
    &__material {
      font-size: 1.6rem;
      line-height: 3.4rem;
      font-weight: 600;
      color: $color_text_popular_light_grey;
    }

    &__rating {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 2rem;

      @media (max-width: 93.75em) {
        margin-bottom: 1rem;
      }
    }

    &__stars {
      display: flex;
      flex-direction: row;
    }

    &__star-icon {
      width: 2.2rem;
      height: 2.2rem;
      fill: $color_golden;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }

    &__testimonials {
      font-size: 1.6rem;
      line-height: 3.4rem;
      font-weight: 500;
      color: $color_text_popular_light_grey;
    }

    &__stroke {
      height: 1px;
      background-color: rgba(20, 20, 20, 0.5);
    }

    &__price-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin: 2.5rem 0;

      @media (max-width: 93.75em) {
        margin: 1.5rem 0
      }
    }

    &__price {
      font-size: 2rem;
      line-height: 3.4rem;
      font-weight: 600;
      color: $color_text_popular_black;
    }

    &__scales-icon {
      flex: 0 0 auto;
      width: 2.6rem;
      height: 2.5rem;
      fill: $color_black;
      cursor: pointer;

      margin-right: 1.5rem;
    }

    &__favorites-icon {
      flex: 0 0 auto;

      width: 2.8rem;
      height: 2.5rem;
      fill: $color_golden;
      cursor: pointer;
    }
  }

  &-product-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    box-shadow: none;

    width: 100%;

    @media (max-width: 93.75em) {
      height: 5rem;
    }

    &__text {
      font-size: 1.8rem;
      line-height: 4.6rem;
      font-weight: 600;
      color: $color_text;

      margin-right: 1rem;
    }

    &__icon {
      flex: 0 0 auto;

      width: 2rem;
      height: 1.8rem;
      stroke: white;
      stroke-width: 1.5;
      fill: none;
    }
  }
}