.footer-first {
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  padding: 4.5rem 3rem 0;
  background-color: $color_bg_footer;

  @media (max-width: 43.75em) {
    padding: 4.5rem 1.5rem 0;
  }

  &__list {
    display: flex;
    flex-direction: row;

    padding-bottom: 3rem;
    border-bottom: 1px solid rgba($color_text, 0.5);

    @media (max-width: 81.25em) {
      justify-content: space-between;
    }

    @media (max-width: 68.75em) {
      display: grid;
      grid-template-columns: repeat(2, minmax(20rem, 40rem));
      grid-template-rows: repeat(2, max-content);
      justify-content: space-evenly;
      justify-items: center;
      grid-column-gap: 2rem;
      grid-row-gap: 5rem;
    }

    @media (max-width: 37.5em) {
      grid-template-columns: minmax(20rem, 40rem);
      grid-template-rows: repeat(4, max-content);
      grid-row-gap: 2rem;
    }
  }

  &-item {
    flex: 0 1 40rem;

    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-right: 2rem;

      @media (max-width: 68.75em) {
        margin-right: 0;
      }
    }

    &:nth-child(2) {
      grid-row: 1 / 2;
    }

    @media (max-width: 81.25em) {
      flex: 0 1 auto;
    }

    @media (max-width: 68.75em) {
      width: 100%;
      max-width: 25.5rem;
    }

    &-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      margin-bottom: 3rem;

      @media (max-width: 37.5em) {
        margin-bottom: 1.5rem;
      }
    }

    &__arrow {
      width: 1.6rem;
      height: 1.2rem;
      fill: $color_text_third;
      transform-origin: center center;
      transition: all 0.2s ease-in;

      display: none;

      &.visible {
        display: block;
        margin-left: 1rem;
      }

      &.active {
        transform: rotate(-180deg);
      }
    }

    &__title {
      font-size: 1.8rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__submenu {
      @media (max-width: 37.5em) {
        display: none;
      }

      &.visible {
        display: block;
      }
    }

    &__submenu-item {
      &:not(:last-child) {
        margin-bottom: 2rem;

        @media (max-width: 37.5em) {
          margin-bottom: 0.5rem;
        }
      }
    }

    &__submenu-link {
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: rgba($color_text, 0.8);

      body.desktop &:hover {
        color: $color_golden;
      }
    }
  }
}