section.info
    .info-wrapper
        .greeting
            h3.greeting__title Интернет-магазин сертифицированных Златоустовских ножей
            p.greeting__text Добро пожаловать на&nbsp;официальный сайт &laquo;ЗЛАТМАКС&raquo;! В&nbsp;нашем магазине представлен наиболее широкий выбор Златоустовских ножей от&nbsp;Златоустовских Оружейных Фабрик и&nbsp;компаний, мы&nbsp;являемся официальными поставщиками. В&nbsp;нашем магазине&nbsp;Вы можете посмотреть, сравнить, оценить и&nbsp;купить понравившийся златоустовский нож с&nbsp;официальной гарантией, не&nbsp;выходя из&nbsp;дома, имея под рукой только устройство с&nbsp;выходом в&nbsp;интернет (ПК, ноутбук, планшет, смартфон) и&nbsp;телефон.<br /><br />Оформить заказ можно без лишних усилий, Вам необходимо только выбрать нож, нажать кнопку &laquo;Купить&raquo; перейти в&nbsp;корзину и&nbsp;заполнить предложенные поля, и&nbsp;Ваш заказ уже принят! Наши менеджеры оперативно свяжутся с&nbsp;Вами по&nbsp;телефону и&nbsp;обсудят детали заказа. Мы&nbsp;осуществляем доставку продукции в&nbsp;любой населённый пункт по&nbsp;всей России, Казахстану и&nbsp;Белоруссии.
        ul.catalog
            li.catalog__item
                h4.catalog__title Каталог ножей
                .catalog__body
                    .catalog__content
                        .para
                            div.para__point
                            p.para__text Разделочные
                        .para
                            div.para__point
                            p.para__text Туристические
                        .para
                            div.para__point
                            p.para__text Охотничьи
                    .catalog__image-wrapper.catalog__image-wrapper_first
                        picture
                            source(srcset="@img/knife01-mobile.webp", type="image/webp", media="(max-width: 500px)")
                            source(srcset="@img/knife01-mobile.png", type="image/png", media="(max-width: 500px)")
                            source(srcset="@img/knife01-desktop.webp", type="image/webp")
                            img.catalog__image.catalog__image_first(src="@img/knife01-desktop.png", alt="Каталог ножей")
            li.catalog__item
                h4.catalog__title Среднеклинковое оружие
                .catalog__body
                    .catalog__content
                        .para
                            div.para__point
                            p.para__text Разделочные
                        .para
                            div.para__point
                            p.para__text Туристические
                        .para
                            div.para__point
                            p.para__text Охотничьи
                    .catalog__image-wrapper.catalog__image-wrapper_second
                        picture
                            source(srcset="@img/knife02-mobile.webp", type="image/webp", media="(max-width: 500px)")
                            source(srcset="@img/knife02-mobile.png", type="image/png", media="(max-width: 500px)")
                            source(srcset="@img/knife02-desktop.webp", type="image/webp")
                            img.catalog__image.catalog__image_second(src="@img/knife02-desktop.png", alt="Среднеклинковое оружие")
            li.catalog__item
                h4.catalog__title Длинноклинковое оружие
                .catalog__body
                    .catalog__content
                        .para
                            div.para__point
                            p.para__text Разделочные
                        .para
                            div.para__point
                            p.para__text Туристические
                        .para
                            div.para__point
                            p.para__text Охотничьи
                    .catalog__image-wrapper.catalog__image-wrapper_third
                        picture
                            source(srcset="@img/knife03-mobile.webp", type="image/webp", media="(max-width: 500px)")
                            source(srcset="@img/knife03-mobile.png", type="image/png", media="(max-width: 500px)")
                            source(srcset="@img/knife03-desktop.webp", type="image/webp")
                            img.catalog__image.catalog__image_third(src="@img/knife03-desktop.png", alt="Длинноклинковое оружие")
            li.catalog__item
                h4.catalog__title Сувенирные изделия
                .catalog__body
                    .catalog__content
                        .para
                            div.para__point
                            p.para__text Разделочные
                        .para
                            div.para__point
                            p.para__text Туристические
                        .para
                            div.para__point
                            p.para__text Охотничьи
                    .catalog__image-wrapper.catalog__image-wrapper_fourth
                        picture
                            source(srcset="@img/knife04-mobile.webp", type="image/webp", media="(max-width: 500px)")
                            source(srcset="@img/knife04-mobile.png", type="image/png", media="(max-width: 500px)")
                            source(srcset="@img/knife04-desktop.webp", type="image/webp")
                            img.catalog__image.catalog__image_fourth(src="@img/knife04-desktop.png", alt="Сувенирные изделия")
            li.catalog__item
                h4.catalog__title Сопутствующие товары
                .catalog__body
                    .catalog__content
                        .para
                            div.para__point
                            p.para__text Разделочные
                        .para
                            div.para__point
                            p.para__text Туристические
                        .para
                            div.para__point
                            p.para__text Охотничьи
                    .catalog__image-wrapper.catalog__image-wrapper_fifth
                        picture
                            source(srcset="@img/knife05-mobile.webp", type="image/webp", media="(max-width: 500px)")
                            source(srcset="@img/knife05-mobile.png", type="image/png", media="(max-width: 500px)")
                            source(srcset="@img/knife05-desktop.webp", type="image/webp")
                            img.catalog__image.catalog__image_fifth(src="@img/knife05-desktop.png", alt="Сопутствующие товары")
            li.catalog__item
                h4.catalog__title Ножевая мастерская
                .catalog__body
                    .catalog__content
                        .para
                            div.para__point
                            p.para__text Разделочные
                        .para
                            div.para__point
                            p.para__text Туристические
                        .para
                            div.para__point
                            p.para__text Охотничьи
                    .catalog__image-wrapper.catalog__image-wrapper_sixth
                        picture
                            source(srcset="@img/knife06-mobile.webp", type="image/webp", media="(max-width: 500px)")
                            source(srcset="@img/knife06-mobile.png", type="image/png", media="(max-width: 500px)")
                            source(srcset="@img/knife06-desktop.webp", type="image/webp")
                            img.catalog__image.catalog__image_sixth(src="@img/knife06-desktop.png", alt="Ножевая мастерская")