section.footer-first
    .outer-wrapper
        ul.footer-first__list
            li.footer-first-item
                .footer-first-item-wrapper
                    span.footer-first-item__title ИНФОРМАЦИЯ
                    svg.footer-first-item__arrow
                        use(xlink:href="@img/sprite/sprite.svg#arrow-bottom")
                ul.footer-first-item__submenu
                    li.footer-first-item__submenu-item
                        a.footer-first-item__submenu-link(href="#", target="_blank") Златоустовские ножи<br />в Москве и Московской<br />области
                    li.footer-first-item__submenu-item
                        a.footer-first-item__submenu-link(href="#", target="_blank") Ножевые стали
                    li.footer-first-item__submenu-item
                        a.footer-first-item__submenu-link(href="#", target="_blank") О нас
                    li.footer-first-item__submenu-item
                        a.footer-first-item__submenu-link(href="#", target="_blank") Условия оплаты<br />и доставки
                    li.footer-first-item__submenu-item
                        a.footer-first-item__submenu-link(href="#", target="_blank") Политика<br />конфиденциальности
            li.footer-first-item
                .footer-first-item-wrapper
                    span.footer-first-item__title СЛУЖБА ПОДДЕРЖКИ
                    svg.footer-first-item__arrow
                        use(xlink:href="@img/sprite/sprite.svg#arrow-bottom")
                ul.footer-first-item__submenu
                    li.footer-first-item__submenu-item
                        a.footer-first-item__submenu-link(href="#", target="_blank") Контактная информация
                    li.footer-first-item__submenu-item
                        a.footer-first-item__submenu-link(href="#", target="_blank") Возврат товара
                    li.footer-first-item__submenu-item
                        a.footer-first-item__submenu-link(href="#", target="_blank") Карта сайта
            li.footer-first-item
                .footer-first-item-wrapper
                    span.footer-first-item__title ДОПОЛНИТЕЛЬНО
                    svg.footer-first-item__arrow
                        use(xlink:href="@img/sprite/sprite.svg#arrow-bottom")
                ul.footer-first-item__submenu
                    li.footer-first-item__submenu-item
                        a.footer-first-item__submenu-link(href="#", target="_blank") Подарочные сертификаты
                    li.footer-first-item__submenu-item
                        a.footer-first-item__submenu-link(href="#", target="_blank") Партнеры
                    li.footer-first-item__submenu-item
                        a.footer-first-item__submenu-link(href="#", target="_blank") Товары со скидкой
            li.footer-first-item
                .footer-first-item-wrapper
                    span.footer-first-item__title ЛИЧНЫЙ КАБИНЕТ
                    svg.footer-first-item__arrow
                        use(xlink:href="@img/sprite/sprite.svg#arrow-bottom")
                ul.footer-first-item__submenu
                    li.footer-first-item__submenu-item
                        a.footer-first-item__submenu-link(href="#", target="_blank") Личный кабинет
                    li.footer-first-item__submenu-item
                        a.footer-first-item__submenu-link(href="#", target="_blank") История заказов
                    li.footer-first-item__submenu-item
                        a.footer-first-item__submenu-link(href="#", target="_blank") Мои закладки
                    li.footer-first-item__submenu-item
                        a.footer-first-item__submenu-link(href="#", target="_blank") Рассылка новостей