section.footer-second
    .outer-wrapper
        ul.footer-second__list
            li.footer-second-item
                span.footer-second-item__title КОНТАКТЫ
                ul.footer-second-item__submenu
                    li.footer-second-item__submenu-item
                        a.footer-second-item__submenu-link(target="_blank", href="tel: +78007774967")
                            svg.footer-second-item__submenu-phone-icon
                                use(xlink:href="@img/sprite/sprite.svg#phone-icon")
                            span.footer-second-item__submenu-phone 8&nbsp;(8&zwnj;00)&nbsp;7&zwnj;77-4&zwnj;9-67
                    li.footer-second-item__submenu-item
                        svg.footer-second-item__submenu-hours-icon
                            use(xlink:href="@img/sprite/sprite.svg#hours-icon")
                        span.footer-second-item__submenu-hours Пн-Пт<br />7&zwnj;:&zwnj;00 - 16&zwnj;:&zwnj;00 (МСК)
                    li.footer-second-item__submenu-item
                        svg.footer-second-item__submenu-adress-icon
                            use(xlink:href="@img/sprite/sprite.svg#footer-location-icon")
                        span.footer-second-item__submenu-adress Златоуст,<br />ул. Шоссейная,<br />д. 1, офис «6Б»
                    li.footer-second-item__submenu-item
                        a.footer-second-item__submenu-link(target="_blank", href="mailto:info@zlatmax.ru")
                            svg.footer-second-item__submenu-mail-icon
                                use(xlink:href="@img/sprite/sprite.svg#mail-icon")
                            span.footer-second-item__submenu-mail info&zwnj;@&zwnj;zlatmax&zwnj;.&zwnj;ru
                    li.footer-second-item__submenu-item
                        a.footer-second-item__submenu-link(target="_blank", href="#")
                            img.footer-second-item__submenu-tg-icon(alt="Telegram", src="@img/tg-icon.svg")
                        a.footer-second-item__submenu-link(target="_blank", href="#")
                            img.footer-second-item__submenu-tg-icon(alt="Vkontakte", src="@img/vk-icon.svg")
                        a.footer-second-item__submenu-link(target="_blank", href="#")
                            img.footer-second-item__submenu-tg-icon(alt="Twitter", src="@img/twitter-icon.svg")
            li.footer-second-item
                span.footer-second-item__title ПОЛЕЗНЫЕ ССЫЛКИ
                ul.footer-second-item__submenu
                    li.footer-second-item__submenu-item Способы оплаты и&nbsp;доставки
            li.footer-second-item
                span.footer-second-item__title НАША ГАРАНТИЯ
                ul.footer-second-item__submenu
                    li.footer-second-item__submenu-item
                        span.footer-second-item__submenu-text Недовольны своей покупкой? Вы&nbsp;можете вернуть ее&nbsp;в&nbsp;течении 30&nbsp;дней с&nbsp;даты получения, <a target="_blank" href="#" class="footer-second-item__submenu-item footer-second-item__submenu-item_golden">согласно нашим правилам</a>
            li.footer-second-item
                span.footer-second-item__title НОВОСТНАЯ РАССЫЛКА
                ul.footer-second-item__submenu
                    li.footer-second-item__submenu-item Подпишитесь прямо сейчас!
                    li.footer-second-item__submenu-item
                        form.footer-second-item__submenu-form
                            input.footer-second-item__submenu-input(type="email", placeholder="example@gmail.com")
                            button.footer-second-item__submenu-button.button(type="submit")
                                svg.footer-second-item__submenu-arrow-icon
                                    use(xlink:href="@img/sprite/sprite.svg#arrow-bottom")
                            .footer-second-item__submenu-checkbox-wrapper
                                input.footer-second-item__submenu-checkbox(id="check", type="checkbox", required)
                                label.footer-second-item__submenu-checkbox-label(for="check") Я прочитал Условия соглашения и согласен с условиями
