section.footer-third
    .outer-wrapper
        .footer-third-wrapper
            p.footer-third__disclaimer Все материалы, размещенные на&nbsp;сайте, носят справочный характер и&nbsp;не&nbsp;являются публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации.<br />При копировании материалов гиперссылка на&nbsp;<a href="https://www.zlatmax.ru/" target="_blank" class="footer-third__link">www.zlatmax.ru</a> обязательна!
            p.footer-third__copy Златоустовские ножи <a href="https://www.zlatmax.ru/" target="_blank" class="footer-third__link">www.zlatmax.ru</a>&nbsp;&copy;