extends html/template

block variables
    - const title = "Заголовок стартовый";
    - const description = "Описание стартовое";
    - const iconPath = null;
    - const appleIconPath = null;
    - const android32IconPath = null;
    - const android16IconPath = null;

block content 
    include html/header
    include html/main
    include html/footer