.third-part {
  background-color: $color_bg_third;
  height: auto;
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  min-height: 6.4rem;

  padding: 0 3rem;

  @media (max-width: 46.875em) {
    padding: 0 1.5rem;
  }

  @media (max-width: 27.5em) {
    padding: 1rem 1.5rem;
  }
}

.header-menu {
  width: 100%;

  @media (max-width: 27.5em) {
    max-width: 25rem;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    width: 100%;

    @media (max-width: 70em) {
      display: grid;
      grid-template-columns: minmax(18rem, 1fr) repeat(3, 1fr) minmax(18rem, 1fr);
      grid-template-rows: repeat(2, max-content);
      grid-column-gap: 1rem;
    }

    @media (max-width: 37.5em) {
      grid-template-columns: minmax(18rem, 1fr) minmax(21rem, 1fr);
      grid-template-rows: repeat(3, max-content);
    }

    @media (max-width: 27.5em) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, max-content);
    }
  }

  &__item {
    display: inline-block;
    position: relative;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    transition: all 0.2s ease-in;
    color: $color_text_third;

    @media (max-width: 70em) {
      &:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      &:nth-child(2) {
        grid-column: 2 / 5;
        grid-row: 1 / 2;

        justify-self: center;

        @media (max-width: 37.5em) {
          grid-column: 1 / 3;
          grid-row: 2 / 3;
        }

        @media (max-width: 27.5em) {
          grid-column: 1 / 2;
          grid-row: 5 / 6;

          justify-self: start;
        }
      }
      &:nth-child(3) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;

        justify-self: end;

        @media (max-width: 37.5em) {
          grid-column: 2 / 3;
          grid-row: 3 / 4;
        }

        @media (max-width: 27.5em) {
          grid-column: 1 / 2;
          grid-row: 4 / 5;

          justify-self: start;
        }
      }
      &:nth-child(4) {
        grid-column: 5 / 6;
        grid-row: 1 / 2;

        justify-self: end;

        @media (max-width: 37.5em) {
          grid-column: 1 / 2;
          grid-row: 3 / 4;
          justify-self: start;
        }

        @media (max-width: 27.5em) {
          grid-column: 1 / 2;
          grid-row: 3 / 4;
        }
      }
      &:nth-child(5) {
        grid-column: 4 / 6;
        grid-row: 2 / 3;

        @media (max-width: 37.5em) {
          grid-column: 2 / 3;
          grid-row: 1 / 2;

          justify-self: end;
        }

        @media (max-width: 27.5em) {
          grid-column: 1 / 2;
          grid-row: 2 / 3;

          justify-self: start;
        }
      }
    }

    &:not(:last-child) {
      margin-right: 3rem;

      @media (max-width: 70em) {
        margin-right: 0;
      }
    }

    &.active {
      border-bottom: 3px solid $color_golden;
    }

    body.mobile & {
      border: none;
    }
  }

  &__link-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__link {
    display: inline-block;
    padding: 2.2rem 0;
    color: $color_text_third;
    font-size: 1.8rem;
    line-height: 2.2rem;
    cursor: default;
    transition: all 0.2s ease-in;

    @media (max-width: 75em) {
      font-size: 1.6rem;
      line-height: 2rem;
    }

    @media (max-width: 70em) {
      padding: 1.2rem 0;
    }

    @media (max-width: 27.5em) {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }

    &.active {
      color: $color_golden;
    }
  }

  &__arrow {
    width: 1.6rem;
    height: 1.2rem;
    fill: $color_text_third;
    transform-origin: center center;
    transition: all 0.2s ease-in;

    display: none;

    &.visible {
      display: block;
      margin-left: 1rem;
    }

    &.active {
      transform: rotate(-180deg);
    }
  }
}

.header-submenu {
  width: 24rem;
  padding: 1rem 2rem;
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  z-index: 20;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in;

  background-color: $color_bg_third;

  body.mobile & {
    top: 100%;
  }

  @media (max-width: 75em) {
    width: 21rem;
  }

  @media (max-width: 70em) {
    width: 19rem;
    padding: 0.5rem 1rem;
    left: -1rem;
  }

  @media (max-width: 27.5em) {
    body.mobile & {
      width: 24rem;
      padding: 0 2rem 1rem;
      position: relative;
      top: 0;

      display: none;

      &.visible {
        display: block;
      }
    }
  }

  &.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__item {
    &:not(:last-of-type) {
      border-bottom: 1px solid $color_text_third;
    }
  }

  &__link {
    display: inline-block;
    color: $color_text_third;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 0.8rem 0;
    transition: all 0.2s ease-in;

    @media (max-width: 75em) {
      font-size: 1.4rem;
      line-height: 1.8rem;
    }

    @media (max-width: 27.5em) {
      font-size: 1.6rem;
      line-height: 2rem;
    }

    body.desktop &:hover {
      color: $color_golden;
    }
  }
}
