$font_main: "Montserrat", Arial, Helvetica, sans-serif;

$color_golden: #e8aa31;
$color_black: #000000;

$color_bg: #ffffff;
$color_text: #ffffff;

$color_bg_first: #141414;
$color_text_first: #ffffff;

$color_bg_second: #ffffff;
$color_text_second: #000000;

$color_bg_third: #000000;
$color_text_third: #ffffff;

$color_text_popular_black: #141414;
$color_text_popular_dark_grey: rgba(#141414, 0.58);
$color_text_popular_light_grey: #ABABAB;

$color_bg_footer: #141414;

// Swiper vars
$themeColor: #007aff !default;